@font-face {
  font-family: Quicksand;
  src: url(./assets/Quicksand-font-1/Quicksand-VariableFont_wght.ttf);
  src: url(./assets/Quicksand-font-1/static/Quicksand-Bold.ttf);
  src: url(./assets/Quicksand-font-1/static/Quicksand-Light.ttf);
  src: url(./assets/Quicksand-font-1/static/Quicksand-Medium.ttf);
  src: url(./assets/Quicksand-font-1/static/Quicksand-Regular.ttf);
  src: url(./assets/Quicksand-font-1/static/Quicksand-SemiBold.ttf);
}

body {
  margin: 0px;
  padding: 0px;
  background-color: #eeeeee;
  font-family: Quicksand;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  /*  position: relative; */
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-image: url("assets/header\ pattern\ svg.svg");
  background-color: #242f3d;
  overflow: hidden;
  box-shadow: 0px 5px #41b3d8;
  font-size: 14px;
}

.main {
  width: calc(100% - 56px);
  margin: 24px;
  margin-right: 24px;
  margin-bottom: 0px;
}

.logo-container {
  margin-left: 29px;
}

.head {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/*
.header-nav {
    /*display: flex;
    align-items:end;
    margin-right: 32px;
}

.header-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .header-nav li {
    margin-right: 32px;
    font-size: 14px;
  }

  .header-nav li:last-child {
    margin-right: 0;
  }
  
  
  .header-nav li a {
    color: #3FD28B; /* Set default link color to green *
    text-decoration: none;
  }
  
  /* Style the selected option (DASHBOARD) *
  .header-nav li.selected a,
  .header-nav a:hover {
    color: #ffffff; /* Set color to white *
    padding-bottom: 14px;
    border-bottom: 4px solid white;
  }

/* Additional styles for the icons */
.header-icons {
  display: flex;
  align-items: center;
}

.icon-number {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #2a7ff3;
  font-size: 12px;
  font-weight: medium;
  color: #fff;
  top: -5px;
  left: 12px;
  width: 17px;
  height: 17px;
  /* UI Properties */
  text-align: left;
  letter-spacing: -0.5px;
  opacity: 1;
}

.icon-circle {
  position: relative;
  margin-right: 32px;
}

.icon-img {
  margin-right: 8px;
  cursor: pointer;
}

.announcements-bar,
.announcements-bar-alert {
  display: none;
  position: absolute;
  top: 63px;
  right: 158px;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  width: 350px;
}

.announcements-bar-alert {
  right: 220px;
}

.ann-notification {
  display: block;
  align-items: center;
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 0px;
  border-bottom: 1px solid #cccccc;
}

.ann-notification#unread {
  background-color: #ffffee;
}

/* CSS for .ann-head div */
.ann-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ann-head p {
  margin-bottom: 0px;
  font-size: 13px;
}
.ann-notification p {
  font-size: 12px;
  margin-top: 5px;
  color: #686868;
}

.main-msg {
  font-size: 15px;
  font-weight: medium;
  margin: 0;
  margin-top: 5px;
}

.alt-msg {
  font-size: 15px;
  font-weight: medium;
  padding-bottom: 2px;
  max-height: 2.4em; /* Set a fixed height for two lines of text */
  line-height: 1.2em; /* Adjust line height as needed */
  display: -webkit-box; /* Use legacy webkit box to enable line-clamp */
  -webkit-line-clamp: 2; /* Limit the text to two lines */
  -webkit-box-orient: vertical; /* Set the box orientation to vertical */
  overflow: hidden; /* Hide any content beyond the fixed height */
}

.ann-head .PA {
  margin-left: 5px;
  color: black;
}

.ann-notification-img,
.status {
  height: 18px;
  width: 18px;
}

.status {
  padding: 5px;
}

.course-ann {
  margin-bottom: 0px;
}
.alt-course {
  color: black;
}

.msg-foot {
  display: flex;
  justify-self: space-between;
  align-items: center;
}

.attachments {
  display: flex;
  align-items: left;
}

.attachments img {
  height: 12px;
  width: 12px;
  color: #686868;
}

.date-time {
  margin-left: auto;
}

.announcement-notify {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 500px;
  overflow-y: auto; /* Enable scrollbar for vertical overflow */
  scrollbar-width: thin; /* Set the width of the scrollbar */
}

.announcement-notify::-webkit-scrollbar {
  width: 6px; /* Adjust the width of the scrollbar track */
}

.announcement-notify::-webkit-scrollbar-track {
  background-color: white; /* Set the background color for the scrollbar track */
  border-radius: 3px; /* Adjust the border radius of the scrollbar track */
}

.announcement-notify::-webkit-scrollbar-thumb {
  background-color: #cccccc; /* Set the color of the scrollbar thumb */
  border-radius: 3px; /* Adjust the border radius of the scrollbar thumb */
}

.announcement-notify::-webkit-scrollbar-thumb:hover {
  background-color: #686868; /* Set the color of the scrollbar thumb on hover */
}

/* CSS for .announce-footer div */
.announce-footer {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Divide into two equal sections */
  justify-content: space-around;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2); /* Create a box shadow on all sides */
}

.alt-footer {
  display: flex;
  justify-content: space-around;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.2);
}

.announce-footer .ann-foot,
.alt-footer .alt-foot {
  padding: 15px 20px; /* Add padding to create space around the sections */
  justify-content: center;
  align-items: center;
  display: flex;
}

.announce-footer .ann-foot {
  border-left: 1px solid #cccccc;
}

.announce-footer .ann-foot:first-child {
  border-left: none;
  padding-right: 10px;
}
.announce-footer a,
.alt-footer a {
  text-decoration: none; /* Remove the underline from the <a> elements */
  color: #3fd28b; /* Set the color to #3fd28b */
}

/* CSS for hover behavior */
.header-btn:hover .announcements-bar,
#announcement-icon.clicked + .announcements-bar-alert,
.header-btn:hover .announcements-bar-alert {
  display: block;
  z-index: 100;
  display: flex;
  /*position: absolute; /* Show the sub-menu absolutely positioned */
  background-color: white; /* Set a background color for the sub-menu */
  flex-flow: column; /*sub-menu-li ke andar ke item ko col de */
}

.header-btn:hover .icon-number {
  display: none;
}
.header-btn:hover .icon-img {
  filter: brightness(0) invert(1);
}

.profile-icon {
  position: relative;
  margin-right: 24px;
}

.icon-alpha {
  position: absolute;
  top: -4px;
  right: -4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  color: #222222;
  font-size: 8px;
  font-weight: medium;
}

.profile-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 2px solid #3fd28b; /* Add a green color border */
}

.hamburgur-icon {
  margin-right: 32px;
  /*position: relative;*/
}
.dashboard-menu {
  height: 36px;
  width: 36px;
  cursor: pointer;
}

/* Make the dashboard-menu icon white on hover */
.dashboard-menu:hover {
  filter: brightness(0) invert(1);
}

/* Styles for .dropdown-menu */
.dropdown-menu {
  display: none;
  position: absolute;
  top: 63px;
  right: 0;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 100;
  width: 350px;
  margin-right: 32px;
}

.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown-menu li,
.sub-menu li {
  display: flex;
  padding: 10px;
  padding-left: 15px;
  /*border-bottom: 1px solid #eee;*/
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  color: #3fd28b;
  position: relative;
}

.dropdown-menu li:last-child {
  border-bottom: none;
}

.arrow-icon img {
  height: 12px;
  width: 12px;
}
/* Styles for sub-menu */
.sub-menu {
  display: none;
  list-style: none;
  /* left: 0;
  right: 0;
  z-index: 100;  No  absolute */
  text-transform: uppercase;
  background-color: #eeeeee;
  width: 100%;
}

/* Styles for sub-menu items */
.sub-menu li {
  align-items: center;
  justify-content: space-between;
  background-color: #eeeeee;
  color: #3fd28b;
  width: 100%;
  padding-left: 10px;
  padding-top: 30px;
}

.sub-menu li:last-child {
  border-bottom: none;
}

/* Show sub-menu when its parent is clicked*/
.expandable {
  cursor: pointer;
  position: absolute; /*relative;*/
  display: flex;
  flex-direction: column;
}

.expandable:hover {
  background-color: #eeeeee;
}

.expandable .arrow-icon {
  margin-left: 8px;
  width: 12px;
  height: 12px;
}

.expandable:hover .arrow-icon {
  transform: rotate(180deg);
}

.expandable__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.expandable:hover .sub-menu {
  display: flex;
  /*position: absolute; /* Show the sub-menu absolutely positioned */
  background-color: white; /* Set a background color for the sub-menu */
  z-index: 100;
  width: 100%; /*150px; /* Set the width of the sub-menu */
  flex-flow: column; /*sub-menu-li ke andar ke item ko col de */
}

/* Show .dropdown-menu on Hover of Hamburgur Icon */
.hamburgur-icon:hover .dropdown-menu {
  display: block;
}

/*Sub Header*/
.two-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 66%;
  background-color: #3fd28b; /* Green background color */
  color: #000; /* Black text color */
  margin-bottom: 24px;
}

.Section {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-top: 11px;
  padding-bottom: 7px;
  border-bottom: 4px solid transparent;
  border-bottom: none;
  cursor: pointer;
  position: relative;
  border-bottom: 4px solid transparent;
  transition: border-bottom-color 0.3s ease, margin-bottom 0.3s ease;
}

.Section.selected {
  border-bottom: 4px solid black;
}

.Section h1,
.Section p {
  margin: 8px;
}

.Section h1 {
  font-size: 24px;
}

.Section p {
  font-size: 14px;
}

/*Next Section- sort & filter*/

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #686868; /* Bottom border with 1px thickness */
  background-color: transparent;
  padding: 8px 0;
}
.sub-filter {
  display: flex;
  justify-content: end;
  align-items: center;
}

.filter p,
.filter label {
  font-size: 12px;
  color: #686868;
  font-weight: medium;
  margin: 0;
}

.filter p {
  padding-top: 6px;
  padding-bottom: 17px;
}

.filter label {
  margin-right: 6px; /* Space between Sort By and Course Name select */
}

.custom-select select {
  appearance: none; /* Remove default select styles */
  background-color: transparent; /* Make the background transparent */
  border: none;
  font-size: 16px;
  color: #333333;
  width: 155px;
  border-bottom: 1px solid #686868;
  -webkit-appearance: none; /* Remove default arrow on Safari */
  -moz-appearance: none; /* Remove default arrow on Firefox */
  appearance: none; /* Remove default arrow on other browsers */
}

.custom-select {
  display: flex;
  align-items: center;
  position: relative;
}

.custom-select::after {
  content: url("./assets/icons/arrow-down.svg"); /* Replace this URL with your actual image URL */
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  /*width: 16px; /* Set the width of the dropdown icon */
  /*height: 16px; /* Set the height of the dropdown icon */
  pointer-events: none; /* Prevent the icon from being clickable */
}
.custom-icon {
  margin-left: 24px; /* Space between last two icons */
}

/* CSS for rotating the image 180 degrees */
.rotate-180 {
  transform: rotate(180deg);
}

/*Main Section*/

/* For screens with width >= 1024px */
@media screen and (min-width: 1024px) {
  .main-content {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For screens with width < 1024px */
@media screen and (max-width: 1023px) {
  .main-content {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-top: 8px;
  }
  .card {
    width: minmax(476px, auto);
    margin-bottom: 20px;
  }
}

.main-content {
  margin-top: 16px;
  margin-bottom: 20px;
  margin-left: 24px;
  margin-right: 24px;
  display: grid;
  gap: 24px;
}

.card {
  display: grid;
  grid-template-columns: 1fr;
  gap: 10px;
  width: minmax(476px, auto); /* Minimum width 571px, maximum width auto */
  height: auto; /*246px;*/
  background-color: #ffffff;
  color: #666666;
  padding-top: 24px;
  padding-left: 24px;
  padding-right: 24px;
  position: relative;
}

.expired-label {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 52px;
  height: 18px;
  background-color: #ffe4e6; /* Red opaque background */
  color: #d80000; /* Red text color */
  font-size: 12px;
  font-weight: regular;
  padding-left: 5px;
  padding-top: 4px;
  padding-right: 7px;
  padding-bottom: 2px;
}

.card-sub {
  display: grid;
  grid-template-columns: auto 1fr; /* First column for the image, second column for the content */
  gap: 10;
  align-items: start;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  width: minmax(476px, 571px); /* Minimum width 571px, maximum width auto */
  height: auto;
}

.card-sub p {
  font-size: 12px;
  color: #666666;
}

.card-content {
  display: grid;
  grid-template-rows: auto;
  position: relative;
  padding-left: 16px;
  align-items: center;
  justify-content: space-between;
  width: auto;
}

.card-img img {
  align-content: start;
  justify-content: start;
  width: 132px;
  height: 157px;
  margin-bottom: 16px;
}

.fav-star {
  position: absolute;
  top: 10px;
  right: 10px;
  padding-left: 10px;
}

.card-content #topic {
  font-size: 16px;
  flex: 1;
  color: #222222;
  font-weight: medium;
  font-family: Quicksand;
  margin: 0;
  padding: 0;
  max-width: 250px; /* Set a fixed width for the container */
  white-space: normal;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden; /* Hide any overflow */
  text-overflow: ellipsis; /* Display "..." for truncated text */
}

@media screen and (max-width: 1023px) {
  #topic {
    max-width: calc(100% - 40px);
  }
}

.sub-grade,
.attendance {
  display: flex;
  flex-direction: row; /* Stack the sub-grade spans vertically */
  justify-content: start;
}

.sub-grade a {
  text-decoration: none;
  color: #3fd28b;
}
.sub-grade p,
.attendance p {
  /* Add some padding to the links */
  padding-left: 10px;
  margin: 0;
  margin-top: 7px;
  border-left: 1px solid #0000001f; /* Add a right border to separate links */
}

.sub-grade span:nth-child(1) p,
.attendance span:nth-child(1) p {
  padding-left: 0px;
  padding-right: 10px;
  border-left: none;
}

.syllabus p {
  margin: 6px 0; /* Add some margin between the <b> elements and the surrounding text */
}

.syllabus b {
  color: #222222;
}

.class-response select,
.class-response-disable select {
  appearance: none; /* Remove default select styles */
  background-color: transparent; /* Make the background transparent */
  border: none;
  font-family: Quicksand;
  font-size: 16px;
  color: #333333;
  width: 264px;
  border-bottom: 1px solid #686868;
  -webkit-appearance: none; /* Remove default arrow on Safari */
  -moz-appearance: none; /* Remove default arrow on Firefox */
  appearance: none; /* Remove default arrow on other browsers */
}
.class-response-disable select {
  color: #686868;
  opacity: 0.4;
  border-bottom: 1px solid #686868; /* Grey border when disabled */
}

.class-response,
.class-response-disable {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 16px;
  margin-bottom: 8px;
}

.class-response::after,
.class-response-disable::after {
  content: url("./assets/icons/arrow-down.svg"); /* Replace this URL with your actual image URL */
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  /*width: 16px; /* Set the width of the dropdown icon */
  /*height: 16px; /* Set the height of the dropdown icon */
  pointer-events: none; /* Prevent the icon from being clickable */
}

.icon-footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding-bottom: 9px;
}

.icon-footer img {
  max-width: 22px;
  max-height: 24px;
}

#disable {
  filter: grayscale(100%);
  cursor: not-allowed;
}

.disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

#lect option[disabled] {
  opacity: 0.4;
  color: #686868;
  cursor: not-allowed;
}

/*Footer*/

footer {
  display: flex;
  align-items: center;
  justify-content: center; /* Center the content horizontally */
  background-color: #e0e1e1; /* Background color for the footer */
  padding: 10px; /* Add some padding to the footer content */
  font-size: 14px; /* Font size for the copyright text */
}

footer p {
  margin: 0; /* Remove margin to prevent extra spacing */
  color: #616161; /* Font color for the copyright text */
  text-align: center;
  padding-right: 10px; /* Add some padding to the right of the p element */
}

/* Optional: Add a left border to separate img and p (uncomment this if needed) */
footer img {
  border-right: 1px solid #0000001f;
  padding-right: 10px;
  margin-right: 10px;
  justify-self: center;
}

footer b {
  margin-left: 5px;
  margin-right: 5px; /* Add 5px margin to the right of the <b> element */
}

.foot {
  display: flex;
  justify-content: center; /* Center the content horizontally */
  padding: 10px; /* Add some padding to the .foot div */
}

/* Styles for the links within .foot div */
.foot a {
  color: #3fd28b; /* Change link color to green (#3fd28b) */
  text-decoration: none; /* Remove underline from links */
  padding: 0 10px; /* Add some padding to the links */
  border-right: 1px solid #0000001f; /* Add a right border to separate links */
}

.foot span:nth-child(2) a {
  border-right: none;
}
